* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}




html, body, #notes, .app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: arial, sans-serif;
}

.app {
    display: flex;
}

.app > .node {
    border: none !important;
}

.app > .node > .content {
    display: none;
}

.app > .node > .resizer {
    display: none;
}

.app > .node > .children {
    flex: auto;
}

.app > .node > .children > .node.staticNode {
    flex: none !important;
}
.app > .node > .children > .node.absolute {
    flex: auto !important;
}







.floatNode {
    /*border: 2px solid whitesmoke;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.focus {
    background-color: #ebfcfc !important;
}

.cursor {
    /*border: none !important;*/
    box-shadow: none !important;
    background-color: white !important;
}




.content.hasChildren {
    border-bottom: 1px solid #cecece;
}

.children.vertical > .staticNode {
    border-top: 1px solid #cecece;
}
.children.vertical > .staticNode:first-of-type {
    border-top: none;
}

.children.horizontal > .staticNode {
    border-left: 1px solid #cecece;
}
.children.horizontal > .staticNode:first-of-type {
    border-left: none;
}





.node {
    flex: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.floatNode {
    position: absolute;
    background-color: white;
}

.children {
    display: flex;
    flex: auto;
    overflow: auto;
    position: relative;
}



.children.vertical {
    flex-direction: column;
    margin-left: 15px;
    border-left: 1px solid #cecece;
}

.content {
    display: flex;
    flex: auto;
    position: relative;
}
.content.hasChildren {
    flex: none;
}



.children.vertical > .node {
    flex: none;
}
.children.vertical > .node:last-of-type {
    flex: auto;
}
.children.horizontal > .node {
    flex: none;
}
.children.horizontal > .node:last-of-type {
    flex: auto;
}

.children.noChildren {
    flex: none;
}


.wordHeader {
    display: flex;
}

.definition {
    display: flex;
}

.wordContent {
    padding-left: 3px;
}

.def-row {
    white-space: nowrap;
    font-size: 13px;
    border-bottom: 1px solid whitesmoke;
}

.column1 {
    padding-right: 3px;
    color: rgb(119, 119, 119);
}

.column2 {
}


.hoverWordContent .column1 {
    color: black;
}

.hoverWordContent .column2 {
    color: rgb(119, 119, 119);
}





.column2 span {
    margin-right: 2px;
}

.column2 span:first-of-type {
    display: none;
}

.column2 span::after {
    content: ',';
    display: inline;
}

.hoverWordContent {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.hoverWordContent .word {
    border-bottom: 1px solid black;
}


.content.word {
    font-size: 14px;
    border-bottom: 1px solid whitesmoke;
}



.childrenTable {
    display: flex;
}

/*.childrenTable .column1 {
    width: 80px;
    overflow: auto;
}*/






.resize-corner {
    width: 8px;
    height: 8px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    cursor: nwse-resize;
    z-index: 1001;
}



.node.inDrag {
    pointer-events: none;
    z-index: 2000;
}

.node.inHover {
    opacity: 0.5;
}

.dockside {
    pointer-events: none;
    position: absolute;
    background-color: #222222;
    opacity: 0.5;
    z-index: 10000;
    transition: all 150ms ease;
}



textarea {
    font-size: 14px;
/*    padding-left: 2px;
    padding-right: 2px;*/
    display: flex;
    flex: auto;
    outline: none;
    resize: none;
    white-space:nowrap;
    background-color: transparent;
}


.minSize {
    width: 10px !important;
    height: 10px !important;
}



.icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    text-align: center;
}

.openClose {
    width: 10px;
    height: 10px;
    align-self: center;
    margin-right: 2px;
}

.icon.slideUp {
    background-image: url(../img/up22.png);
    background-size: cover;
}
.icon.slideDown {
    background-image: url(../img/up22.png);
    transform: rotate(180deg);
    background-size: cover;
}

.open::before {
    content: '\25E2';
    color: #3C667C;
    font-size: 7px;
    display: inline-block;
    vertical-align: middle;
}

.closed::before {
    content: '\25b6';
    color: #3C667C;
    font-size: 7px;
    display: inline-block;
    vertical-align: middle;
}
