* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}






html, body, .app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app {
    display: flex;
}

.app > .node {
    border: none !important;
}

.app > .node > .content {
    display: none;
}

.app > .node > .resizer {
    display: none;
}








.floatNode {
    border: 2px solid whitesmoke;
}

.focus {
    background-color: #f8f8f8 !important;
}

.cursor {
    border: none !important;
    background-color: white !important;
}









.node {
    flex: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.floatNode {
    position: absolute;
    background-color: white;
}

.children {
    display: flex;
    flex: auto;
    overflow: auto;
    position: relative;
}



.children.vertical {
    flex-direction: column;
    padding-left: 15px;
}

.content {
    display: flex;
    flex: auto;
    overflow: auto;
}

.content.hasChildren{
    flex: none
}



.children > .node {
    flex: none;
}
.children > .node:last-of-type {
    flex: auto;
}







.resize-bottom {
    position: absolute;
    width: 100%;
    height: 2px;
    cursor: ns-resize;
    z-index: 1000;
}

.resize-right {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 2px;
    cursor: ew-resize;
    z-index: 1000;
}

.resize-corner {
    width: 8px;
    height: 8px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    cursor: nwse-resize;
    z-index: 1001;
}







textarea {
    display: flex;
    flex: auto;
    outline: none;
    resize: none;
    white-space:nowrap;
    background-color: transparent;
}


.minSize {
    width: 10px !important;
    height: 10px !important;
}



.icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    text-align: center;
}

.open::before {
    content: '\25E2';
    color: #3C667C;
    font-size: 7px;
    display: inline-block;
    vertical-align: middle;
}

.closed::before {
    content: '\25b6';
    color: #3C667C;
    font-size: 7px;
    display: inline-block;
}
